* {
    border-radius: 0!important;
}

.btn-full{
    width: 100%;
}

.pizzaoptions .panel-default > .panel-heading{
    background-color: rgba(128,128,128,0.1);
}

.shoppingcart .cartcontents{
    font-weight: bold;
}

table.table.table-invis{
    background-color: transparent;
    opacity: 0.6;
}

table.pizzadetail td.size{
    width: 15%;
}

table.pizzadetail td.style{
    width: 15%;
}

table.pizzadetail td.toppings{
    width: 60%;
}

table.pizzadetail td.price{
    width: 10%;
}

.admin-userorders-row h3.userinfo{
    display:table-cell;
    vertical-align:middle;
    float:none;
}

.admin-userorders-row h3.userinfo span{
    vertical-align: middle;
}

.admin-userorders-row{
    padding: 5px;
}

.admin-userorders-row .name:hover{
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
}

.admin-userorders-odd{
    background-color: rgba(200,200,200,0.10);
}

.cart-preview-header{
    background-color: rgba(200,200,200,0.10);
    padding: 5px;
}

.cart-preview .total{
    text-align: right;
    font-weight: bold;
}

.cart-sidebar{
    text-align: center;
}