* {
    border-radius: 0!important;
}

.home{
    text-align: center;
    margin: 0 auto;
}

.pageContainer{
    background-color: white;
    padding: 0 0 30px 0;
    border-width: 0 5px 5px 5px;
    border-style: solid;
    border-color: rgba(255,100,100,0.05);
    -webkit-box-shadow: 0px 0px 49px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 49px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 49px 0px rgba(0,0,0,0.5);
}

body{
    background-image: url('../images/background.png');
}

.btn-full{
    width: 100%;
}

.pizzaoptions .panel-default > .panel-heading{
    background-color: rgba(128,128,128,0.1);
}

.shoppingcart .cartcontents{
    font-weight: bold;
}

table.table.table-invis{
    background-color: transparent;
    opacity: 0.6;
}

table.pizzadetail td.size{
    width: 15%;
}

table.pizzadetail td.style{
    width: 15%;
}

table.pizzadetail td.toppings{
    width: 60%;
}

table.pizzadetail td.price{
    width: 10%;
}

.admin-userorders-row h3.userinfo{
    display:table-cell;
    vertical-align:middle;
    float:none;
}

.admin-userorders-row h3.userinfo span{
    vertical-align: middle;
}

.admin-userorders-row{
    padding: 5px;
}

.admin-userorders-row .name:hover{
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
}

.admin-userorders-odd{
    background-color: rgba(200,200,200,0.10);
}

.cart-preview-header{
    background-color: rgba(200,200,200,0.10);
    padding: 5px;
}

.cart-preview .total{
    text-align: right;
    font-weight: bold;
}

.cart-sidebar{
    text-align: center;
}

.about .slick-slider{
    height: 377px;
    width: 600px;
    overflow: hidden;
}

.owners .title{
    text-align: center;
    margin: 0 10px;
}

.owners .entry{
    margin: 0 0 30px 0;
}

.owners .entry .picture{
    margin: 0 auto;
    text-align: center;
}

.owners .entry .body{
    padding: 10px;
}

.pizzablurb{
    text-align: center;
}

.pizzablurb .slick-slider{
    margin: 0 auto;
}

.pizzablurb p{
    padding: 10px;
}

.legal{
    margin: 10px 0 0 0;
    text-align: center;
}

.slidercontainer{
    background-color: rgba(255,0,0,0.1);
    width: 100%;
}

.slick-dots{
    position: static!important;
}

.home .slick-slider{
    width: 900px;
    margin: 0 auto;
}